# Python önbellek dosyaları
__pycache__/
*.pyc

# Sanal ortam
venv/
env/

# Veri setleri ve Çıktılar (Büyük dosyalar)
data/raw/*.csv
data/output/*.keras
data/output/*.save
data/output/prediction.csv

# Jupyter Notebook ara dosyaları
.ipynb_checkpoints/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db